.conteiner {
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.conteiner img {
  height: 70px;
  width: 70px;
}

.menuNav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.menuNav ul a {
  text-decoration: none;
}

.menuNav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
