header {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

div img {
    height: 70px;
    width: 70px;
}

ul a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}


