.conteiner {
  background-color: #fff;
<<<<<<< HEAD
/*   box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6); */
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  width: 900px;
  border-bottom: 1px solid rgb(208, 204, 204);
}

.conteiner img {
  margin-left: 50px;
  height: 65px;
  width: 200px;
}

.menuNav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.menuNav ul a {
  text-decoration: none;
}

=======
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.conteiner img {
  height: 70px;
  width: 70px;
}

.menuNav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.menuNav ul a {
  text-decoration: none;
}

>>>>>>> 644e1ac8b01c7ab4244df96a87cdf34049fcc3c4
.menuNav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3rem;
<<<<<<< HEAD
}

.links {
  color: black;
  font-size: 17px;
=======
>>>>>>> 644e1ac8b01c7ab4244df96a87cdf34049fcc3c4
}
