.card {
  width: 249px;
  height: 350px;
  border-radius: 20px;
  background: #fff;
  position: relative;
  border: 1px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 4px 4px 27px 0px rgba(34, 60, 80, 0.2);
}

.card img {
  width: 135px;
  height: 150px;
  padding-top: 30px;
/*   border-radius: 20px; */
}

.cardDetails {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.cardButton {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  text-decoration: none;
  text-align: center;
}

.textBody {
  color: rgb(134, 134, 134);
  font-size: 20px;
}

.textTitle {
  font-size: 1.5em;
  font-weight: bold;
}

.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .cardButton {
  transform: translate(-50%, 50%);
  opacity: 1;
  cursor: pointer;
}

.textTitle {
  text-align: center;
  text-transform: uppercase;
}
