.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 50px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}