.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}


.cardsContainer {
<<<<<<< HEAD
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  background: #f7f8f9;
  padding-top: 50px;
}

.mainConteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 70%;
  margin-bottom: 50px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
=======
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    flex-wrap: wrap;
    /* width: 1000px; */
    margin-top: 50px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
>>>>>>> 644e1ac8b01c7ab4244df96a87cdf34049fcc3c4
}
