.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  padding: 1rem;
  width: 18rem;
  height: 25rem;
  background-color: #fff;
  box-shadow: 4px 4px 29px 11px rgba(34, 60, 80, 0.2);
  border-radius: 1rem;
}

.image_container {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 8rem;
  background-color: #4c1d95;
  border-radius: 0.5rem;
}

.image_container .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  fill: #d9d9d9;
}

.title {
  overflow: clip;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: var(--light);
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.action {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cartButton {
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
  background-image: var(--bg-linear);
  font-size: 0.75rem;
  font-weight: 500;
  color: blue;
  border: 2px solid hsla(262, 83%, 58%, 0.5);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.25rem 1px var(--light);
}
