* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    /*background-color: rgb(237, 255, 247);*/
    background-color: rebeccapurple;
}

.App {
  min-height: 100vh; /* Занимает всю высоту экрана */
  width: 100%;
}